@font-face {
    font-family: 'Montserrat';
    src: url(/styles/fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Light.ttf);
}